.logo {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.search {
  width: 440px;
  margin-left: 200px;
}

*:not(title):not(script) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-flex;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.join-teacher {
  font-size: 30px;
  text-transform: none;
  text-transform: none;
  align-items: center;
  margin-left: 240px;
  margin-right: 20px;
}